@model List<MyWeb.Domain.Domain.Person>
<table class="table" id="d_Variants">
    <thead>
    <tr>
        <th>Id</th>
        <td>Name</td>
        <td>BirthDay</td>
        <td>Notes</td>
        <td>RecordDate</td>
        <td>Operation</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.Id</td>
            <td>@m.Name</td>
            <td>@m.BirthDay</td>
            <td>@m.Notes</td>
            <td>@m.RecordDate</td>
            <td>
                @Ajax.ActionLink("Delete", "Delete", "Home", new { id = m.Id }, new AjaxOptions
                {
                    UpdateTargetId = "dataDiv",
                    HttpMethod = "Post"
                })
            </td>
        </tr>
    }
    </tbody>
</table>


<script type="text/javascript">
    var editorVariants;

    $(document).ready(function () {
        editorVariants = $('#d_Variants').dataTable({
            "scrollY": 200,
            "scrollCollapse": true
        });
    });

    $("#d_Variants tbody tr").click(function (e) {
        if ($(this).hasClass('row_selected')) {
            $(this).removeClass('row_selected');

            $("#Id").val(null);
            $("#Name").val(null);
            $("#Notes").val(null);

            $("#editModal").dialog("close");
        }
        else {
            editorVariants.$('tr.row_selected').removeClass('row_selected');
            $(this).addClass('row_selected');

            var aData = editorVariants.fnGetData(this);
            if (null != aData) {
                $("#Id").val(aData[0]);
                $("#Name").val(aData[1]);
                $("#Notes").val(aData[3]);
            }

            $("#editModal").dialog("open");
        }
    });
</script>


